/*
--- BANNER ---
*/
body {
    background-color: #1B133A;
}
.main .container {
    background: url('../img/logo/bg-cashback.png') no-repeat top center fixed;
    background-size: cover;
    margin: 0 auto;
    width: 90%;
}
.main .banner {
    height: 500px;
    margin: 0 auto;
    background-color: #1B133A;
}
.banner .bg-banner {
    background: url('../img/folders/cover_RE4.png') no-repeat top left;
    background-size: cover;
}
.banner .banner-info {
    padding: 30px;
    height: 100%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.banner .banner-info .banner-container{
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}
.banner-info .launch-icon {
    transform: rotate(-11deg);
    max-width: 50%;
    margin-bottom: 25px;
}
.banner-info .logo-game-icon {
    max-width: 85%;
}
.banner-info p {
    max-width: 75%;
    color: #fff;
    padding: 10px 0;

}
.banner-info .banner-buttons {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.banner-info .banner-buttons * {
    margin-top: 30px;
}
.banner-info .banner-buttons img {
    margin-right: 30px;
}
.banner-info .banner-buttons a {
    margin-top: 70px;
    width: 50%;
    padding: 10px 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
    text-transform: uppercase;
    text-align: center;
}
#details {
    background-color: #2f18ad;
    border-radius: 2px 0 0 2px;
}
#details:hover {
    background-color: #144cb4;
}
#buy {
    background-color: #C99902;
    border-radius: 0 2px 2px 0;
}
#buy:hover {
    background-color: #dbb434;
}

.main .latest-launch,
.main .promo,
.main .cashback {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.main .name {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    color: #C99902;
    text-shadow: 1px 1px 2px #000;
    font-size: 50px;
    padding: 20px;
    font-weight: normal;
}
.main .latest-launch {
    background-color: rgba(255, 255, 255, 0.2);
    height: 620px;
}
.latest-launch .latest-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.latest-launch .latest-container .card {
    margin-top: 20px;
}
.latest-container .card .btn {
    width: 350px;
    display: flex;
}
.card .btn a {
    width: 50%;
    padding: 10px;
    margin-top: -4px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    border-radius: 0;
}

.main .promo {
    background-color: #1B133A;
}
.main .promo .promo-container {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}
.promo-container .promo-card {
    width: 300px;
    height: 124px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    position: relative;
}
.promo-card .game-price {
    border-left: #fff;
    position: absolute;
    top: 0;
    left: 110px;
    color: #fff;
}
.promo-card .game-price .promo-name {
    font-weight: 400;
    margin-top: 10px;
    font-size: 18px;
} 
.promo-card .game-price .price-before {
    margin-top: 30px;
    text-decoration: line-through;
    font-size: 12px;
} 
.promo-card .game-price .price-now {
    font-size: 20px;
} 
.promo-card .game-price .add-promo {
    font-size: 11px;
    color: greenyellow;
} 
.promo-card .sale-off {
    position: absolute;
    top: 0;
    right: 0;
}

.more-options .more-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.more-container .card-options {
    background-repeat:  no-repeat;
    background-position: center;
    background-size: contain;
    width: 550px;
    height: 310px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.more-container .card-options a {
    background-repeat:  no-repeat;
    background-position: center;
    background-size: contain;
    width: 200px;
    margin-bottom: 30px;
    line-height: 35px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
}
.more-container .card-options p {
    font-size: 14px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}
.card-options.opt1 {
    background-image: url('../img/folders/dmc5.png');
}
.card-options.opt1 a {
    background-image: url('../img/icons/early-acs.png');
}
.card-options.opt1 a:hover {
    background-image: url('../img/icons/gift-card.png');
    transition: 300ms;
}
.card-options.opt1 p {
    color: #87c8f7;
}

.card-options.opt2 {
    background-image: url('../img/folders/snes.png');
}
.card-options.opt2 a {
    background-image: url('../img/icons/retro.png');
}
.card-options.opt2 a:hover {
    background-image: url('../img/icons/cashback.png');
    transition: 300ms;
}
.card-options.opt2 p {
    color: #EF78AA;
}

.card-options.opt3 {
    background-image: url('../img/folders/god-of-war.png');
}
.card-options.opt3 a {
    background-image: url('../img/icons/cashback.png');
}
.card-options.opt3 a:hover {
    background-image: url('../img/icons/early-acs.png');
    transition: 300ms;
}
.card-options.opt3 p {
    color: #F8E008;
}

.card-options.opt4 {
    background-image: url('../img/folders/gift-cards.png');
}
.card-options.opt4 a {
    background-image: url('../img/icons/gift-card.png');
}
.card-options.opt4 a:hover {
    background-image: url('../img/icons/retro.png');
    transition: 300ms;
}
.card-options.opt4 p {
    color: #08F868;
}





@media (max-width: 1024px) {
    .latest-launch .latest-container .card:last-child {
        display: none;
    }
}
@media (max-width: 769px) {
    .main .container {
        width: 100%;
    }
    .main .banner {
        width: 100%;
    }
    .latest-launch .latest-container .card:nth-child(2) {
        display: none;
    }
    .promo-container .promo-card:nth-child(2) {
        display: none;
    }
}
@media (max-width: 426px) {
    .main .banner {
        width: 100%;
    }
    .main .name {
        font-size: 30px;
    }
    .banner .banner-info {
        justify-content: center;
        width: 100%;
    }
    .banner-info p {
        max-width: 99%;
    }
    .banner-info .banner-buttons {
        width: 100%;
    }
    .banner-info .banner-buttons a {
        padding: 15px 0;
    }
    .promo-container .promo-card:nth-child(3) {
        display: none;
    }
}